.mainBackground {
  background: #150e28;
}

.heroSection {
  background-image: url("../../assets/images/lensFlare1.png");
  width: 1500px;
  height: 1000px;
  background-repeat: no-repeat;
  background-color: #150e28;
}

